---
layout: base
styles: ["animations/start.css"]
permalink: "/index.html"
---

<section class="p-32">
  <svg
    class="overflow-visible"
    width="100%"
    height="100%"
    viewBox="0 0 1024 1024"
    preservAspectRatio="xMidYMin"
  >
    <style>
      path {
        stroke: black;
        stroke-width: 10;
        stroke-linecap: round;
        fill: transparent;

        animation-name: wave;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
    </style>
    <path
      d="
    M384,512
    l128,0
    a1,1 0 0 0 64,0
    l0,-128
    a1,1 0 0 1 32,0
    l0,128
    a1,1 0 0 0 64,0
    a1,1 0 0 0 -160,0
    m80,32
    l0,64
    {% for i in range(0,8) %}
    a1,1 0 0 {{ i % 2 }} 16,0
    {% endfor %}
    a1,1 0 0 1 -128,0
    m-128,0
    {% for i in range(0,8) %}
      {{'v' if i % 2 else 'h'}} {{ 16 + i * 8 }}
    {% endfor %}
    a1,1 0 0 1 -128,0
    {% for i in range(0,8) %}
      {{'v' if i % 2 else 'h'}} -{{ 16 + i * 8 }}
    {% endfor %}
    l96,0
    a1,1 0 0 0 -64,0
    a1,1 0 0 0 -32,0
    a1,1 0 0 0 0,32
    a1,1 0 0 0 0,40
    M256,128
    {% for j in range(0,6) %}
    {% for i in range(0,24) %}
    a1,1 0 0 {{ i % 2 }} {{'-' if j%2 else ''}}32,0
    {% endfor %}
    a1,1 0 0 {{ j % 2 }} 32,0
    a1,1 0 0 {{ j % 2 }} -32,0
    m0,48
    {% endfor %}
    "
    />
    <path
      d="
    M768,512
    h0,256
    v-128,0
    "
    />
  </svg>
</section>
<section></section>
<section></section>
<section></section>
